.computer-detail__container__middle__left,
.computer-detail__container__middle__right {
  gap: 10px;
  display: flex;
  animation: fromRight 1.5s;

  &-left {
    & h1 {
      font-weight: 500;
      width: 281px;
      font-size: 22px;
      line-height: 27px;
      color: #2e2e2e;
      margin-bottom: 25px;
    }
  }

  &-right {
    & h1 {
      font-weight: 400;
      font-size: 22px;
      line-height: 27px;
      color: #797979;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 395px) {
  .computer-detail__container__middle__left,
  .computer-detail__container__middle__right {
    gap: 10px;
    display: flex;

    &-left {
      & h1 {
        font-size: 14px;
        width: 187px;
        line-height: 25px;
        margin-bottom: 0;
      }
    }

    &-right {
      & h1 {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 0;
      }
    }
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
