.computer-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__arrow--desktop {
    position: absolute;
    top: 53px;
    left: 70px;
    cursor: pointer;
  }

  &__header {
    font-weight: 700;
    font-size: 34px;
    line-height: 21px;
    margin: 76px 0 84px 0;
  }

  &__container {
    width: 1178px;

    &__top {
      width: 100%;
      padding-bottom: 84px;
      border-bottom: 1px solid #a5a5a5;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__image {
        width: 577px;
        height: 342px;
        object-fit: cover;
      }

      &__middle-section {
        & h1 {
          font-weight: 500;
          font-size: 22px;
          line-height: 27px;
          color: #2e2e2e;
          margin-bottom: 32px;
        }
      }

      &__middle-right {
        & h1 {
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #797979;
          margin-bottom: 32px;
        }
      }
    }

    &__middle {
      border-bottom: 1px solid #a5a5a5;
    }

    &__middle,
    &__bottom {
      padding: 54px 0 54px 0;
      display: flex;
      gap: 110px;
    }
  }
}
