.user-form {
  background: #ffffff;
  border-radius: 18px;
  width: 1226px;
  height: 900px;
  margin-top: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;

  &__form {
    &__user {
      display: flex;
      gap: 63px;
      margin-top: 88px;

      &-left,
      &-right {
        display: flex;
        flex-direction: column;
        &__name-label,
        &__lastName-label {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: black;
          margin-bottom: 8px;
        }

        #user-form__form__user-left__name,
        #user-form__form__user-right__lastName {
          border: 1.8px solid #8ac0e2;
          border-radius: 8px;
          width: 375px;
          height: 50px;
          padding: 20px 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          &:focus {
            background: rgba(43, 75, 242, 0.06);
            border: 1.8px solid #6499ff;
            outline-color: #6499ff;
          }
        }

        p {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          color: #2e2e2e;
          margin-top: 8px;
        }
      }
    }

    &__mail,
    &__phone {
      display: flex;
      flex-direction: column;
      margin-top: 43px;

      &__input-label {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: black;
        margin-bottom: 8px;
      }

      #user-form__form__mail__input,
      #user-form__form__phone__input {
        border: 1.8px solid #8ac0e2;
        border-radius: 8px;
        font-family: inherit;

        height: 50px;
        padding: 20px 16px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;

        &:focus {
          background: rgba(43, 75, 242, 0.06);
          border: 1.8px solid #6499ff;
          outline-color: #6499ff;
        }
      }

      p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #2e2e2e;
        margin-top: 8px;
      }
    }
  }

  &__button {
    width: 176px;
    height: 60px;
    background: #62a1eb;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    font-family: inherit;
    bottom: 44px;
    right: 210px;
  }

  &__dropdown,
  &__dropdown--wrong {
    border: none;
    margin-top: 45px;
    background-color: #ebebeb;
    border-radius: 8px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 16px 16px;
  }

  &__dropdown--wrong {
    border: 1.8px solid #e52f2f;
  }

  &__arrow {
    margin: 10px 10px;
  }

  &__menu {
    border: none;
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.25));
    border-radius: 8px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }
}

@media (max-width: 395px) {
  .user-form {
    border-radius: 12px;
    width: 390px;
    height: 919px;
    margin-top: 11px;

    &__form {
      &__user {
        flex-direction: column;
        gap: 7px;
        margin-top: 30px;
        align-items: center;

        &-left,
        &-right {
          display: flex;
          flex-direction: column;

          #user-form__form__user-left__name,
          #user-form__form__user-right__lastName {
            width: 358px;
          }
        }
      }

      &__mail,
      &__phone {
        margin-top: 9px;
        justify-content: center;
        width: 358px;
        margin: 9px auto 0 auto;

        &__input-label {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          color: black;
          margin-bottom: 8px;
        }

        #user-form__form__mail__input,
        #user-form__form__phone__input {
          border: 1.8px solid #8ac0e2;
          border-radius: 8px;
          font-family: inherit;

          height: 50px;
          padding: 20px 16px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;

          &:focus {
            background: rgba(43, 75, 242, 0.06);
            border: 1.8px solid #6499ff;
            outline-color: #6499ff;
          }
        }

        p {
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          color: #2e2e2e;
          margin-top: 8px;
        }
      }
    }

    &__button {
      width: 132px;
      height: 46px;
      background: #62a1eb;
      font-size: 18px;
      line-height: 22px;
      bottom: 185px;
      right: 16px;
    }

    &__dropdown,
    &__dropdown--wrong {
      margin: 18px auto 0 auto;
      width: 358px;
    }

    &__menu {
      width: 358px;
      transform: translateX(10px);
    }
  }
}
